body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  max-width: 1200px;
  align-content: stretch;
  min-height: 100vh;

}

.main {
  flex: 2;

}

.aside {
  background: white;
  width: 280px;
  background: #D64262;
  align-self: auto;
}

article {
  max-width: 750px;
  margin: 0 auto;
}


/*@media all and (min-width: 600px) {
  .aside {
    flex: 1 auto;
    -ms-flex: 1 auto;
    -webkit-flex: 1 auto;
  }
}

@media all and (min-width: 800px) {
  .main    {
    flex: 3 0px;
    -ms-flex: 3 0px;
    -webkit-flex: 3 0px;
  }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .footer  { order: 3; }
}
*/


h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: black;
}

.made-by {
  margin: 0 10px 0 0 ;
  color: rgba(0,0,0,.5);
}

.lead {
  background: #efefef;
  margin: 25px 0 35px 0;
  font-size: 18px;
  line-height: 145%;
  padding: 15px 20px;
}


[mode=step] .activity-title {
  font-size: 18px;
  opacity: .6;
}


h4 {
  margin: 35px 0 10px 0;
  font-size: 16px;
}

p, li {
  color: rgba(0,0,0,.65);
}

b {
  font-weight: normal;
  color: rgba(0,0,0,1);
}

p,ul {
  margin: 15px 0 25px 0;
}

a {
  color: #3897c1;
  transition: background .1s ease-out;
}

a:hover {
  color: #2f87a5;
  background: rgba(56, 151,193,.1);
}


.main {
  text-align: left;
  background: white;
  position: relative;
  padding: 30px 40px;
}

.agenda h1 {
  border-bottom: solid 2px #DDD;
  padding-bottom: 15px;
  margin-bottom: 30px;
}


.agenda p {
  font-weight: 300;
}

.aside img {
  width:100%;
}

.agenda-navigation {
  padding: 0;
  margin: 15px 0 80px 0;
  list-style-type: none;
  position: relative;
}

.agenda-navigation a {
  display: block;
  padding: 18px 30px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  transition: background .1s ease-out;
}

.agenda-navigation a.selected {
  background: #d12d51;
  font-weight: bold;
}

.agenda-navigation a:hover {
  background: #d12d51;
}

.attribution {
  bottom: 10px;
  color: #eee;
  opacity: 0.5;
  position: relative;
  top: -30px;
  transition: all 0.2s ease 0s;
  float: right;
  right: 15px;
  display: none;
}


ul {
  list-style-position: outside;
  padding-left: 25px;
}

.agenda {
  margin: 0;
  padding: 0;
}

.goals{
  padding:10px 20px;
}

.goals ul, .literacy{
  margin-bottom:10%;;
}





.agenda > li {
  display: none;
}

.goals ul li, .goals p{
  list-style-position:inside;
  list-style-type: square;
  font-weight:300;
  font-size:.9em;
}

.agenda > li {
  list-style-position:inside;
  list-style-type: none;

}

.time {
  width:64px;
  height:64px;
  padding: 8px 0 0 0;

  box-sizing: border-box;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #3fb58e;
  color: #3fb58e;

  position: absolute;

  top: 30px;
  right: 40px;

  font-weight: 300;
  text-align: center;
  font-size: 1.3em;
  line-height: 100%;

}

.time {
}

hr {
     color: #FF4E1F;
     background: #FF4E1F;
     width: 75%;
     height: 5px;
}

.sessions {
  background: #FFF1C5;
}

.start {
  margin-top:10%;
  text-align: right;
}

.coming-soon {
  background-color:#F5F5F5;
  border: 5px dashed #E3EAEE;
}

.img-example {
  width: 100%;
}

figcaption{
  font-weight: 300;
  font-style: italic;
  color: #4d4e53;
  padding-bottom:2%;
  float:right;
  font-size: 14px;
}

.img-thumbnail {
    width: 30%;
    float:left;
}

.literacy-color-credibility, .literacy-color-search, .literacy-color-composing{
  color:white;
}

.literacy-color-credibility{
  background-color: #FF5984;
}
.literacy-color-search{
  background-color: #fe4040;
}

.literacy-color-composing{
  background-color: #01bc85;
}

.literacy-color-practices{
  background-color: #0097d6;
}

.literacy-color-webmechanics{
  background-color: #FF6969;
  color: white;
}

.literacy-color-navigation{
  background-color: #FF4E1F;
  color: white;
}

.literacy-color-remixing{
  background-color: #00CEB8;
  color: white;
}

.literacy-color-open-practices{
  background-color: #0097d6;
  color: white;
}

.literacy-color-sharing{
  background-color: #739ab1;
  color: white;
}

.literacy-color-community-participation{
  background-color: #63cfea;
  color: white;
}

.literacy-color-collaborating{
  background-color: #506b7b;
  color: white;
}

.literacy-color-privacy{
  background-color: #00bad6;
  color: white;
}

.literacy-color-security{
  background-color: #ff004e;
  color: white;
}

.literacy-color-designing{
  color: white;
}

.socialBtns {
  float:right;
  width:120px;
}



.leadTime {
  background-color:#3fb58e;
  padding:5px;
  text-align:center;
  color:white;
  position: absolute;
  top: 0px;
  right: 40px;
  padding: 8px 12px;
  margin: 0;
}

.btn {
  font-size: 16px;
  border: none;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  margin-right: 5px;
}

.btn:hover {
  opacity: .8;
}

.small{
  font-style: italic;
  color: #FFF;
  padding-bottom: 10%;
}

.exampleIcon{
  float:left;
  margin-right:2%;
  width: 125px;
  clear: both;
}

figure {
  padding: 0;
  margin: 20px 0 50px 0;
}

figure img {
  display: block;
}

figcaption {
  background: #efefef;
  padding: 4px 8px;
  margin-top: 8px;
}

.discussion-link {
  border-top: solid 1px #DDD;
  padding-top: 20px;
  margin-top: 55px;
  padding-bottom:0;
  margin-bottom:0;
}
